<div class="relative h-screen w-full">
    <%= render "partials/nav" %>
  <video class="w-full h-full object-cover" src="https://res.cloudinary.com/the-ruby-lab/video/upload/v1676467195/Ontwerp_zonder_titel_usemha.mp4" autoplay loop muted></video>
  <div class="absolute inset-0 flex items-center justify-center">
    <h1 class="text-white text-6xl font-semibold">
      Welkom bij de zoete vacatures van Hamlet.
    </h1>
  </div>
</div>

<div class="pt-28 bg-black">
  <div class=" flex items-center justify-center">
    <p class="text-white text-3xl font-semibold w-5/6 px-4 md:text-4xl sm:text-5xl text-left">
      Het verhaal van Hamlet start in 1934 met een ondernemende bakkerszoon die een passie had voor zoetwaren en chocolade. Inmiddels zijn wij uitgegroeid tot een familiebedrijf met een eigen kwaliteitsafdeling, verpakkingsverwerking, customer service, R&D afdeling, logistiek centrum en productiecentra. Pralines, chocoladefiguren, biscuits en suikerwerk behoren tot onze productspecialiteiten met de focus op kwaliteit, duurzaamheid en innovatie. Zo zorgen wij iedere dag voor (h)eerlijke producten verdeeld over de hele wereld.
    </p>
  </div>
    <img src="https://res.cloudinary.com/the-ruby-lab/image/upload/v1676524632/8._landen_NL_vn3lcl_sbsf1j.png" class="mx-auto object-cover object-center p-10">
</div>
<div class="relative h-screen bg-amber-900" class="bg-cover bg-center h-64" style="background-image: url(https://res.cloudinary.com/the-ruby-lab/image/upload/v1676466706/8_memh6u.png); background-repeat: no-repeat;">
    <h1 class="text-white text-3xl md:text-5xl sm:text-4xl font-semibold pt-10 px-3">
      Heb je ook een passie voor chocolade en lekkernijen?
    </h1>
    <p class="text-white text-xl font-medium p-3">
      Bekijk onze vacatures en zie welke het best bij jou past.
    </p>
  <div class=" flex items-center justify-center">
    
    <div class="p-10">

      <section class="mb-32 text-gray-800 text-center">

    <div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
      <div class="mb-6 lg:mb-0">
        <div class="relative block bg-white rounded-lg shadow-lg">
          <div class="flex">
            <div
              class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-lg mx-4 -mt-4"
              data-mdb-ripple="true" data-mdb-ripple-color="light">
              <a href="#!">
                <div
                  class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                  style="background-color: rgba(251, 251, 251, 0.15)"></div>
              </a>
            </div>
          </div>
          <div class="p-6">
            <h5 class="font-bold text-xl mb-3">Supply Chain Coordinator</h5>
            <p class="text-gray-500 mb-4">
              <small>Locatie: <u>Vrasene</u></small>
            </p>
            <p class="mb-4 pb-2 text-left">
              Sluit je aan bij onze logistieke toppers! Grijp de unieke kans om je carrière naar het volgende niveau te tillen met deze uitdaging. Kies voor een overeenkomst van onbepaalde duur op voltijdse basis of op 4,5/5 basis.
            </p>
            <a href="hamlet/supplychaincoordinator" data-mdb-ripple="true" data-mdb-ripple-color="light"
              class="inline-block px-6 py-2.5 bg-amber-900 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-black hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Solliciteren</a>
          </div>
        </div>
      </div>

    </div>

  </section>
    
    
  </div>
</div>
