<footer class="container mx-auto px-5 text-left bg-black ">
  <div class=" p-6 text-white">
    <div class="grid lg:grid-cols-2 gap-4">
      <div class="mb-6 md:mb-0">
        <p class="mb-4 text-xs">
HAMLET IS EEN WERKGEVER DIE GELIJKE KANSEN GEEFT, DIE ZICH ZET NAAR INCLUSIE EN DIVERSITEIT. WIJ ONDERNEMEN BEVESTIGENDE ACTIES OM GELIJKE KANSEN TE GARANDEREN VOOR ALLE AANVRAGEN, ZONDER REKENING TE HOUDEN MET RAS, KLEUR, RELIGIE, GESLACHT, SEKSUELE GERICHTHEID, GESLACHTSDENTITEIT, NATIONALE AFKOMST, HANDICAP, LEEFTIJD OF ANDERE WETTELIJK BESCHERMDE KENMERKEN.        </p>
      </div>

      <div class="mb-6 md:mb-0">

        <p class="mb-4 text-xs uppercase">
          HAMLET sterk achter de bescherming van de persoonlijke gegevens van onze kandidaten. Wij zullen deze gegevens enkel gebruiken voor de verwerking van uw sollicitatie en voor geen andere doeleinden. Wij zullen uw gegevens beveiligen door gebruik te maken van beveiligde servers en door de toepassing van geschikte technische en organisatorische maatregelen. Bovendien zullen wij uw gegevens niet aan derden verkopen, verhuren of op een andere manier delen. Als u nog vragen heeft over onze verwerking van uw persoonlijke gegevens, aarzel dan niet om contact met ons op te nemen.
        </p>
      </div>
    </div>
  </div>

  <div class="text-center text-white p-4" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright
  </div>
</footer>