<nav class="">
    <div class="container mx-auto flex items-center justify-center w-20 h-20 m-5">
    <%= link_to image_tag("https://res.cloudinary.com/the-ruby-lab/image/upload/v1676302520/Hamlet_chocolates_l3wuer.png", alt: "Logo") %>
  </div>
</nav>